/* Download by http://www.codefans.net */
#windownbg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;/*body-bg*/
	top: 0;
	left: 0;
}
#windown-box {
	position: fixed;
	_position: absolute;/*For IE 6.0*/
	border: 5px solid #E9F3FD;
	background: #FFF;
	text-align: left;
}
#windown-title {
	position: relative;
	height: 30px;
	border: 1px solid #c5c5c5;
	overflow: hidden;
	
}
#windown-title h2 {
	position: relative;
	left: 10px;
	top: 5px;
	font-size: 14px;
	color: #666;
}
#windown-close {
	position: absolute;
	right: 10px;
	top: 8px;
	width: 10px;
	height: 16px;
	text-indent: -10em;
	overflow: hidden;
	background: url(../images/icon.png) -820px -720px no-repeat;
	cursor: pointer;
}
#windown-content-border {
	position: relative;
	top: -1px;
	padding: 5px 0 5px 5px;
	
}
#windown-content {
	position: relative;
	overflow: auto;
	text-align: left;
}
#windown-content img,#windown-content iframe{
	display: block;
}
#windown-content .loading {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -8px;
	margin-top: -8px;
}

